/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

:root {
  --salmon: #FF8066;
  --cream: #FFEFD6;
  --silver: #C0B7B1;
  --brown: #7A7265;
  --black: #201D1E;
}

* {
  background-color: var(--black);
}

h1 {
  font-family: "EB Garamond", serif;
  color: var(--cream);
}

p {
  font-family: 'DM Sans', sans-serif;
  color: var(--cream);
}

/* ---------- HEADER ---------- */

.header {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 15%;
}

.header span {
  color: var(--salmon);
}

.header p {
  margin: 0px;
}

.header h1 {
  font-size: 95px;
  margin: 3px;
}
