/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

:root {
  --salmon: #FF8066;
  --babyblue: #52A3EA;
  --golden: #EBB852;
  --cream: #FFEFD6;
  --silver: #C0B7B1;
  --brown: #7A7265;
  --black: #201D1E;
}

* {
  background-color: var(--black);
  margin: 0px;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  color: var(--cream);
  font-size: 44px;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  color: var(--cream);
}

h3 {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  color: var(--cream);
}

p {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: var(--cream);
}

/* ---------- HEADER ---------- */

.header {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 15%;
}

.header span {
  color: var(--salmon);
  font-weight: 500;
}

.header h1 {
  font-size: 100px;
  margin: 0px;
}

.header h2 {
  font-weight: 300;
}
